body {
  width: 100vw;
  font-family: "Kumbh Sans";
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
}

body > img {
  width: 236.85px;
  height: 139.37px;
  object-fit: fill;
}

main {
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  padding: 132px 24px 48px 24px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1e1f36;
  margin-bottom: 40px;
  text-align: center;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
}

h2.secondchild {
  font-weight: 700;
  color: #1e1f36;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows > .arrowup {
  display: none;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  display: none;
  margin-top: 13px;
  margin-bottom: 16px;
}

.line {
  width: 279px;
  height: 1px;
  background: rgba(232, 232, 234, 1);
  margin-bottom: 19px;
}
