body {
  width: 100vw;
  font-family: "Kumbh Sans";
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 148px;
}

main {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  padding: 0px 24px 30px 24px;
  position: relative;
}

.desktop {
  display: none;
}

.woman {
  width: 237px;
  height: 180px;
  object-fit: fill;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%) rotate(-2deg);
}

.shadow {
  position: absolute;
  width: 240px;
  height: 145px;
  object-fit: fill;
  top: -5%;
  left: 50%;
  transform: translateX(-50%) rotate(-2deg);
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1e1f36;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 150px;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
}

h2:hover {
  color: rgba(244, 123, 86, 1);
  cursor: pointer;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  display: none;
  margin-top: -5px;
  margin-bottom: 16px;
}

.line {
  width: 100%;
  height: 1px;
  background: rgba(232, 232, 234, 1);
  margin-bottom: 19px;
}

.active > h2 {
  font-weight: 700;
}

.active > .arrowdown {
  transform: rotate(180deg);
}

.active + p {
  display: block;
}

@media screen and (min-width: 1440px) {
  body {
    padding: 129px 239px 130px 281px;
  }
  main {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
  }

  .woman,
  .shadow {
    display: none;
  }

  .desktop {
    display: block;
  }

  .pattern {
    width: 964px;
    height: 944px;
    margin-top: -294px;
    position: left;
    margin-left: -576px;
    margin-bottom: -141px;
  }

  .woman {
    width: 472px;
    height: 359px;
    position: absolute;
    top: 70px;
    left: 150.86px;
  }
  .box {
    z-index: 10;
    position: absolute;
    width: 190px;
    height: 206px;
    left: -100px;
    top: 206px;
  }

  .illustration {
    object-fit: cover;
    width: 190px;
    height: 206px;
    position: fixed;
  }
  .text {
    width: 50%;
    padding-bottom: 53px;
    padding-right: 71px;
  }
}
